header{a:c;
    div.wrap{a:c;
        h1{a:c;

        }
        ul{a:c;
            li{a:c;
                a{a:c;

                }
            }
        }
        span{a:c;
            a{a:c;
                span{a:c;

                }
            }
            button{a:c;

            }
        }
    }
}